
<div class="center" style="text-align: left;">
<table style="height: 18px; width: 100%; border-collapse: collapse; border-style: hidden;" border="0">
<tbody>
<tr style="height: 18px; border-style: hidden;">
<td style="width: 75.7668%; height: 18px; border-style: hidden;"><strong>Bill no:</strong></td>
<td style="width: 24.2332%; height: 18px;"><strong>Date:</strong></td>
</tr>
</tbody>
</table>
</div>
<div class="center" style="text-align: left;">
<table style="height: 18px; width: 100%; border-collapse: collapse;" border="0">
<tbody>
<tr style="height: 18px; border-style: hidden;">
<td style="width: 75.7668%; height: 18px;"><strong>Name:</strong></td>
<td style="width: 24.2332%; height: 18px; border-style: hidden;"><strong>Challan no:</strong></td>
</tr>
</tbody>
</table>
<strong>Address:</strong></div>
<div class="center" style="text-align: left;">&nbsp;</div>
<div class="center" style="text-align: left;">&nbsp;</div>
<div class="center" style="text-align: left;">
<table style="height: 98px; width: 100%; border-collapse: collapse; margin-left: auto; margin-right: auto;" border="1" cellspacing="2" cellpadding="2">
<tbody>
<tr style="height: 18px;">
<td style="width: 11.82%; height: 43px; text-align: center;">Sl. No.</td>
<td style="width: 34.1105%; height: 43px; text-align: center;">Description of goods</td>
<td style="width: 14.4785%; height: 43px; text-align: center;">Qty</td>
<td style="width: 16.5235%; height: 43px; text-align: center;">Unit Price</td>
<td style="width: 23.0675%; height: 43px; text-align: center;">Amount of Tk.</td>
</tr>



{% for item in sales_item %}
<tr>
<td style="width: 11.82%; height: 27px; text-align: center;">{{forloop.counter}}</td>
<td style="width: 34.1105%; height: 27px; text-align: center;" >{{item.product}}</td>
<td style="width: 14.4785%; height: 27px; text-align: center;" >{{item.quantity}}</td>
<td style="width: 16.5235%; height: 27px; text-align: center;" >{{item.price}}</td>
<td style="width: 23.0675%; height: 27px; text-align: center;" >{{item.amount}}</td>
</tr>
{% endfor %}




<tr style="height: 28px;">
<td style="width: 11.82%; height: 28px;" colspan="3">&nbsp;</td>
<td style="width: 16.5235%; text-align: center; height: 28px;">Total Tk</td>
<td style="width: 23.0675%; text-align: center; height: 28px;">{{total_tk}}</td>
</tr>
</tbody>
</table>
</div>