<p style="text-align: center;"><img src="https://i.postimg.cc/NgqMgYqy/sopno.jpg" alt="" width="408" height="94" /></p>
<h4 style="text-align: center;">42/2 M.H. Mansion(1st Floor), Sayed Awlad Hossain Lane, Islampur, Dhaka-1100, Bangladesh</h4>
<p style="text-align: center;">Tel:+88-02-57396327, Mobile: 01714-070782, Email:office@stchaque.com</p>
<h4 style="text-align: center;">Web: www.stchaque.com</h4>
<div class="center" style="text-align: center;"><strong>BILL</strong></div>
<div class="center" style="text-align: center;">&nbsp;</div>
<div class="center" style="text-align: left;">
<table style="height: 200px; width: 100%; border-collapse: collapse; margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 11.82%; height: 18px; text-align: center;"><strong>Sl. No.</strong></td>
<td style="width: 35.951%; height: 18px; text-align: center;"><strong>Description of goods</strong></td>
<td style="width: 12.638%; height: 18px; text-align: center;"><strong>Qty</strong></td>
<td style="width: 18.364%; height: 18px; text-align: center;"><strong>Unit Price</strong></td>
<td style="width: 21.227%; height: 18px; text-align: center;"><strong>Amount of Tk.</strong></td>
</tr>
<tr style="height: 128px;">
<td style="width: 11.82%; height: 128px;">&nbsp;</td>
<td style="width: 35.951%; height: 128px;">&nbsp;</td>
<td style="width: 12.638%; height: 128px;">&nbsp;</td>
<td style="width: 18.364%; height: 128px;">&nbsp;</td>
<td style="width: 21.227%; height: 128px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 11.82%; height: 18px;">&nbsp;</td>
<td style="width: 35.951%; height: 18px;">&nbsp;</td>
<td style="width: 12.638%; height: 18px;">&nbsp;</td>
<td style="width: 18.364%; height: 18px;">&nbsp;</td>
<td style="width: 21.227%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 11.82%; height: 18px;">&nbsp;</td>
<td style="width: 35.951%; height: 18px;">&nbsp;</td>
<td style="width: 12.638%; height: 18px;">&nbsp;</td>
<td style="width: 18.364%; height: 18px;">&nbsp;</td>
<td style="width: 21.227%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 11.82%; height: 18px;">&nbsp;</td>
<td style="width: 35.951%; height: 18px;">&nbsp;</td>
<td style="width: 12.638%; height: 18px;">&nbsp;</td>
<td style="width: 18.364%; height: 18px;">&nbsp;</td>
<td style="width: 21.227%; height: 18px;">&nbsp;</td>
</tr>
</tbody>
</table>
</div>