{% extends "main/base.html" %}
{% load static %}
{% block content %}


<div class="container p-4">
    <div class="row">
        <div class="col-lg-12 col-12 layout-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <center>
                                <h3><strong>Add New Order</strong></h3>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <form>
                        <div class="row mb-2">
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Customer Name</label>
                                    <input class="form-control" type="text" placeholder="Default input">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Address</label>
                                    <input class="form-control" type="text" placeholder="Default input">
                                </div>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Phone No</label>
                                    <input class="form-control" type="text" placeholder="Default input">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Store</label>
                                    <select class="form-control disabled-results">
                                        <option value="one">Select store...</option>
                                        <option value="three">Islampur</option>
                                        <option value="second">Madhabdi</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Date</label>
                                    <input class="form-control" type="date" placeholder="Default input">
                                </div>
                            </div>


                        </div>

                        <!-- ???start -->

                        <div class="user-details">
                            <div class="user_data">
                                <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Product</label>
                                            <select class="form-control disabled-results">
                                                <option value="one">Select product...</option>
                                                <option value="three">Product 1</option>
                                                <option value="second">Product 2</option>
                                                <option value="second">Product 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Quantity</label>
                                            <input class="form-control" type="text" placeholder="Default input">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Price</label>
                                            <input class="form-control" type="text" placeholder="Default input">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Amount</label>
                                            <input class="form-control" type="text" placeholder="Default input">
                                        </div>
                                    </div>
                                    <!-- <div class="col-1">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Remark</label>
                                           <input class="form-control" type="text" placeholder="Default input">
                                         </div>
                                    </div> -->
                                    <div class="col-1 d-flex justify-content-center">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Add/Sub</label>

                                            <input type="button" name="" class="btn btn-success add_details"
                                                   value="+">
                                        </div>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>


                        </div>


                        <!-- ??? net total start -->
                        <div class="subtotal-details">
                            <div class="subtotal_data">
                                <div class="row mb-4">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Total Amount</label>
                                            <input class="form-control" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Paid Amount</label>
                                            <input class="form-control" type="text" placeholder="Default input">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Due Amount</label>
                                            <input class="form-control" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1"> Status</label>
                                            <select class="form-control disabled-results">
                                                <option value="one">Select status...</option>
                                                <option value="three">Paid</option>
                                                <option value="second">Partial Paid</option>
                                                <option value="second">Unpaid</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <!-- ???end -->

                        </div>


                        <input type="submit" name="time" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock content %}